ClientSide/App_WebReferences/localhost/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lastname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Coins" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RegisterResponse">
        <s:complexType />
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginAdminResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsUsernameTaken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="U" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsUsernameTakenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsUsernameTakenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDT">
        <s:complexType />
      </s:element>
      <s:element name="GetDTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDTResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDTByUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="U" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDTByUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDTByUsernameResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product" type="tns:Product" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Product">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Pic" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Owner" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateProductResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetProductDT">
        <s:complexType />
      </s:element>
      <s:element name="GetProductDTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductDTResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProductDT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProductDTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProductDTResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProductDTByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserProductDTByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserProductDTByNameResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDTByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDTByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductDTByNameResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnPublishedProductDT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnPublishedProductDTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnPublishedProductDTResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product" type="tns:Product" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProductResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateGiveaway">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="giveaway" type="tns:Giveaway" />
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Giveaway">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsEnded" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="StartDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tickets" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Winner" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateGiveawayResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateGiveaway">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGiveawayResponse">
        <s:complexType />
      </s:element>
      <s:element name="CloseGiveaway">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseGiveawayResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuyTickets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Tickets" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Coins" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Bet" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyTicketsResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetGiveawayDT">
        <s:complexType />
      </s:element>
      <s:element name="GetGiveawayDTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGiveawayDTResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGiveawayDTByItemCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGiveawayDTByItemCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGiveawayDTByItemCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUnabledGiveawayDT">
        <s:complexType />
      </s:element>
      <s:element name="GetUnabledGiveawayDTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnabledGiveawayDTResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAbledGiveawayDT">
        <s:complexType />
      </s:element>
      <s:element name="GetAbledGiveawayDTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAbledGiveawayDTResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDTByCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductDTByCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductDTByCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyCoins">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="coins" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuyCoinsResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddJoiner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GiveawayCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Tickets" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddJoinerResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetGiveawayDTByGiveawayCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGiveawayDTByGiveawayCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGiveawayDTByGiveawayCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJoinersDTByGiveawayCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJoinersDTByGiveawayCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJoinersDTByGiveawayCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetWinner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetWinnerResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsStoreResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRealStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsRealStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsRealStoreResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Store">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product" type="tns:Product" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUnstoredProductsDT">
        <s:complexType />
      </s:element>
      <s:element name="GetUnstoredProductsDTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUnstoredProductsDTResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcceptStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcceptStoreResponse">
        <s:complexType />
      </s:element>
      <s:element name="IsOnDelivery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsOnDeliveryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsOnDeliveryResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Deliver">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ICode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="VCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeliverResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateVehicle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vehicle" type="tns:Vehicle" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Vehicle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Vcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vtype" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Vname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Capacity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Pic" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateVehicleResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetVehicle">
        <s:complexType />
      </s:element>
      <s:element name="GetVehicleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVehicleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicles">
        <s:complexType />
      </s:element>
      <s:element name="GetVehiclesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetVehiclesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcceptArrived">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AcceptArrivedResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateVehicle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="flag" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateVehicleResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateVehicleCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateVehicleCapResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateVehicleCap2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateVehicleCap2Response">
        <s:complexType />
      </s:element>
      <s:element name="GetVCodeByGiveaway">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ICode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVCodeByGiveawayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVCodeByGiveawayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsArrived">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsArrivedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsArrivedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAtUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsAtUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsAtUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemCodeByGiveawayCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemCodeByGiveawayCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemCodeByGiveawayCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPaymentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPaymentInfoResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdatePaymentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardnumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cvv" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePaymentInfoResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetCreditCards">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCreditCardsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCreditCardsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStorageExit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStorageExitResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetVehicleDt">
        <s:complexType />
      </s:element>
      <s:element name="GetVehicleDtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVehicleDtResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryByVehicleCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryByVehicleCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeliveryByVehicleCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStorageByDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStorageByDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStorageByDateResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleDTByItemCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVehicleDTByItemCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVehicleDTByItemCodeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginAdminSoapIn">
    <wsdl:part name="parameters" element="tns:LoginAdmin" />
  </wsdl:message>
  <wsdl:message name="LoginAdminSoapOut">
    <wsdl:part name="parameters" element="tns:LoginAdminResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IsUsernameTakenSoapIn">
    <wsdl:part name="parameters" element="tns:IsUsernameTaken" />
  </wsdl:message>
  <wsdl:message name="IsUsernameTakenSoapOut">
    <wsdl:part name="parameters" element="tns:IsUsernameTakenResponse" />
  </wsdl:message>
  <wsdl:message name="GetDTSoapIn">
    <wsdl:part name="parameters" element="tns:GetDT" />
  </wsdl:message>
  <wsdl:message name="GetDTSoapOut">
    <wsdl:part name="parameters" element="tns:GetDTResponse" />
  </wsdl:message>
  <wsdl:message name="GetDTByUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:GetDTByUsername" />
  </wsdl:message>
  <wsdl:message name="GetDTByUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:GetDTByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="CreateProductSoapIn">
    <wsdl:part name="parameters" element="tns:CreateProduct" />
  </wsdl:message>
  <wsdl:message name="CreateProductSoapOut">
    <wsdl:part name="parameters" element="tns:CreateProductResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductDTSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductDT" />
  </wsdl:message>
  <wsdl:message name="GetProductDTSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductDTResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserProductDTSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserProductDT" />
  </wsdl:message>
  <wsdl:message name="GetUserProductDTSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserProductDTResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserProductDTByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserProductDTByName" />
  </wsdl:message>
  <wsdl:message name="GetUserProductDTByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserProductDTByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductDTByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductDTByName" />
  </wsdl:message>
  <wsdl:message name="GetProductDTByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductDTByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnPublishedProductDTSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnPublishedProductDT" />
  </wsdl:message>
  <wsdl:message name="GetUnPublishedProductDTSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnPublishedProductDTResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProductSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="UpdateProductSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="CreateGiveawaySoapIn">
    <wsdl:part name="parameters" element="tns:CreateGiveaway" />
  </wsdl:message>
  <wsdl:message name="CreateGiveawaySoapOut">
    <wsdl:part name="parameters" element="tns:CreateGiveawayResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateGiveawaySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateGiveaway" />
  </wsdl:message>
  <wsdl:message name="UpdateGiveawaySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateGiveawayResponse" />
  </wsdl:message>
  <wsdl:message name="CloseGiveawaySoapIn">
    <wsdl:part name="parameters" element="tns:CloseGiveaway" />
  </wsdl:message>
  <wsdl:message name="CloseGiveawaySoapOut">
    <wsdl:part name="parameters" element="tns:CloseGiveawayResponse" />
  </wsdl:message>
  <wsdl:message name="BuyTicketsSoapIn">
    <wsdl:part name="parameters" element="tns:BuyTickets" />
  </wsdl:message>
  <wsdl:message name="BuyTicketsSoapOut">
    <wsdl:part name="parameters" element="tns:BuyTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="GetGiveawayDTSoapIn">
    <wsdl:part name="parameters" element="tns:GetGiveawayDT" />
  </wsdl:message>
  <wsdl:message name="GetGiveawayDTSoapOut">
    <wsdl:part name="parameters" element="tns:GetGiveawayDTResponse" />
  </wsdl:message>
  <wsdl:message name="GetGiveawayDTByItemCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetGiveawayDTByItemCode" />
  </wsdl:message>
  <wsdl:message name="GetGiveawayDTByItemCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetGiveawayDTByItemCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnabledGiveawayDTSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnabledGiveawayDT" />
  </wsdl:message>
  <wsdl:message name="GetUnabledGiveawayDTSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnabledGiveawayDTResponse" />
  </wsdl:message>
  <wsdl:message name="GetAbledGiveawayDTSoapIn">
    <wsdl:part name="parameters" element="tns:GetAbledGiveawayDT" />
  </wsdl:message>
  <wsdl:message name="GetAbledGiveawayDTSoapOut">
    <wsdl:part name="parameters" element="tns:GetAbledGiveawayDTResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductDTByCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductDTByCode" />
  </wsdl:message>
  <wsdl:message name="GetProductDTByCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductDTByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="BuyCoinsSoapIn">
    <wsdl:part name="parameters" element="tns:BuyCoins" />
  </wsdl:message>
  <wsdl:message name="BuyCoinsSoapOut">
    <wsdl:part name="parameters" element="tns:BuyCoinsResponse" />
  </wsdl:message>
  <wsdl:message name="AddJoinerSoapIn">
    <wsdl:part name="parameters" element="tns:AddJoiner" />
  </wsdl:message>
  <wsdl:message name="AddJoinerSoapOut">
    <wsdl:part name="parameters" element="tns:AddJoinerResponse" />
  </wsdl:message>
  <wsdl:message name="GetGiveawayDTByGiveawayCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetGiveawayDTByGiveawayCode" />
  </wsdl:message>
  <wsdl:message name="GetGiveawayDTByGiveawayCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetGiveawayDTByGiveawayCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetJoinersDTByGiveawayCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetJoinersDTByGiveawayCode" />
  </wsdl:message>
  <wsdl:message name="GetJoinersDTByGiveawayCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetJoinersDTByGiveawayCodeResponse" />
  </wsdl:message>
  <wsdl:message name="SetWinnerSoapIn">
    <wsdl:part name="parameters" element="tns:SetWinner" />
  </wsdl:message>
  <wsdl:message name="SetWinnerSoapOut">
    <wsdl:part name="parameters" element="tns:SetWinnerResponse" />
  </wsdl:message>
  <wsdl:message name="IsStoreSoapIn">
    <wsdl:part name="parameters" element="tns:IsStore" />
  </wsdl:message>
  <wsdl:message name="IsStoreSoapOut">
    <wsdl:part name="parameters" element="tns:IsStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IsRealStoreSoapIn">
    <wsdl:part name="parameters" element="tns:IsRealStore" />
  </wsdl:message>
  <wsdl:message name="IsRealStoreSoapOut">
    <wsdl:part name="parameters" element="tns:IsRealStoreResponse" />
  </wsdl:message>
  <wsdl:message name="StoreSoapIn">
    <wsdl:part name="parameters" element="tns:Store" />
  </wsdl:message>
  <wsdl:message name="StoreSoapOut">
    <wsdl:part name="parameters" element="tns:StoreResponse" />
  </wsdl:message>
  <wsdl:message name="GetUnstoredProductsDTSoapIn">
    <wsdl:part name="parameters" element="tns:GetUnstoredProductsDT" />
  </wsdl:message>
  <wsdl:message name="GetUnstoredProductsDTSoapOut">
    <wsdl:part name="parameters" element="tns:GetUnstoredProductsDTResponse" />
  </wsdl:message>
  <wsdl:message name="AcceptStoreSoapIn">
    <wsdl:part name="parameters" element="tns:AcceptStore" />
  </wsdl:message>
  <wsdl:message name="AcceptStoreSoapOut">
    <wsdl:part name="parameters" element="tns:AcceptStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IsOnDeliverySoapIn">
    <wsdl:part name="parameters" element="tns:IsOnDelivery" />
  </wsdl:message>
  <wsdl:message name="IsOnDeliverySoapOut">
    <wsdl:part name="parameters" element="tns:IsOnDeliveryResponse" />
  </wsdl:message>
  <wsdl:message name="DeliverSoapIn">
    <wsdl:part name="parameters" element="tns:Deliver" />
  </wsdl:message>
  <wsdl:message name="DeliverSoapOut">
    <wsdl:part name="parameters" element="tns:DeliverResponse" />
  </wsdl:message>
  <wsdl:message name="CreateVehicleSoapIn">
    <wsdl:part name="parameters" element="tns:CreateVehicle" />
  </wsdl:message>
  <wsdl:message name="CreateVehicleSoapOut">
    <wsdl:part name="parameters" element="tns:CreateVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicleSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicle" />
  </wsdl:message>
  <wsdl:message name="GetVehicleSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehiclesSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicles" />
  </wsdl:message>
  <wsdl:message name="GetVehiclesSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehiclesResponse" />
  </wsdl:message>
  <wsdl:message name="AcceptArrivedSoapIn">
    <wsdl:part name="parameters" element="tns:AcceptArrived" />
  </wsdl:message>
  <wsdl:message name="AcceptArrivedSoapOut">
    <wsdl:part name="parameters" element="tns:AcceptArrivedResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateVehicleSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateVehicle" />
  </wsdl:message>
  <wsdl:message name="UpdateVehicleSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateVehicleCapSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateVehicleCap" />
  </wsdl:message>
  <wsdl:message name="UpdateVehicleCapSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateVehicleCapResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateVehicleCap2SoapIn">
    <wsdl:part name="parameters" element="tns:UpdateVehicleCap2" />
  </wsdl:message>
  <wsdl:message name="UpdateVehicleCap2SoapOut">
    <wsdl:part name="parameters" element="tns:UpdateVehicleCap2Response" />
  </wsdl:message>
  <wsdl:message name="GetVCodeByGiveawaySoapIn">
    <wsdl:part name="parameters" element="tns:GetVCodeByGiveaway" />
  </wsdl:message>
  <wsdl:message name="GetVCodeByGiveawaySoapOut">
    <wsdl:part name="parameters" element="tns:GetVCodeByGiveawayResponse" />
  </wsdl:message>
  <wsdl:message name="IsArrivedSoapIn">
    <wsdl:part name="parameters" element="tns:IsArrived" />
  </wsdl:message>
  <wsdl:message name="IsArrivedSoapOut">
    <wsdl:part name="parameters" element="tns:IsArrivedResponse" />
  </wsdl:message>
  <wsdl:message name="IsAtUserSoapIn">
    <wsdl:part name="parameters" element="tns:IsAtUser" />
  </wsdl:message>
  <wsdl:message name="IsAtUserSoapOut">
    <wsdl:part name="parameters" element="tns:IsAtUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetItemCodeByGiveawayCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemCodeByGiveawayCode" />
  </wsdl:message>
  <wsdl:message name="GetItemCodeByGiveawayCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemCodeByGiveawayCodeResponse" />
  </wsdl:message>
  <wsdl:message name="AddPaymentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AddPaymentInfo" />
  </wsdl:message>
  <wsdl:message name="AddPaymentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AddPaymentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePaymentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePaymentInfo" />
  </wsdl:message>
  <wsdl:message name="UpdatePaymentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePaymentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditCardsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCreditCards" />
  </wsdl:message>
  <wsdl:message name="GetCreditCardsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCreditCardsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStorageExitSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStorageExit" />
  </wsdl:message>
  <wsdl:message name="UpdateStorageExitSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStorageExitResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicleDtSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicleDt" />
  </wsdl:message>
  <wsdl:message name="GetVehicleDtSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleDtResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryByVehicleCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveryByVehicleCode" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryByVehicleCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveryByVehicleCodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetStorageByDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetStorageByDate" />
  </wsdl:message>
  <wsdl:message name="GetStorageByDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetStorageByDateResponse" />
  </wsdl:message>
  <wsdl:message name="GetVehicleDTByItemCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetVehicleDTByItemCode" />
  </wsdl:message>
  <wsdl:message name="GetVehicleDTByItemCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetVehicleDTByItemCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginAdmin">
      <wsdl:input message="tns:LoginAdminSoapIn" />
      <wsdl:output message="tns:LoginAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsUsernameTaken">
      <wsdl:input message="tns:IsUsernameTakenSoapIn" />
      <wsdl:output message="tns:IsUsernameTakenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDT">
      <wsdl:input message="tns:GetDTSoapIn" />
      <wsdl:output message="tns:GetDTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDTByUsername">
      <wsdl:input message="tns:GetDTByUsernameSoapIn" />
      <wsdl:output message="tns:GetDTByUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <wsdl:input message="tns:CreateProductSoapIn" />
      <wsdl:output message="tns:CreateProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDT">
      <wsdl:input message="tns:GetProductDTSoapIn" />
      <wsdl:output message="tns:GetProductDTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProductDT">
      <wsdl:input message="tns:GetUserProductDTSoapIn" />
      <wsdl:output message="tns:GetUserProductDTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProductDTByName">
      <wsdl:input message="tns:GetUserProductDTByNameSoapIn" />
      <wsdl:output message="tns:GetUserProductDTByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDTByName">
      <wsdl:input message="tns:GetProductDTByNameSoapIn" />
      <wsdl:output message="tns:GetProductDTByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnPublishedProductDT">
      <wsdl:input message="tns:GetUnPublishedProductDTSoapIn" />
      <wsdl:output message="tns:GetUnPublishedProductDTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input message="tns:UpdateProductSoapIn" />
      <wsdl:output message="tns:UpdateProductSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateGiveaway">
      <wsdl:input message="tns:CreateGiveawaySoapIn" />
      <wsdl:output message="tns:CreateGiveawaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGiveaway">
      <wsdl:input message="tns:UpdateGiveawaySoapIn" />
      <wsdl:output message="tns:UpdateGiveawaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseGiveaway">
      <wsdl:input message="tns:CloseGiveawaySoapIn" />
      <wsdl:output message="tns:CloseGiveawaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuyTickets">
      <wsdl:input message="tns:BuyTicketsSoapIn" />
      <wsdl:output message="tns:BuyTicketsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGiveawayDT">
      <wsdl:input message="tns:GetGiveawayDTSoapIn" />
      <wsdl:output message="tns:GetGiveawayDTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGiveawayDTByItemCode">
      <wsdl:input message="tns:GetGiveawayDTByItemCodeSoapIn" />
      <wsdl:output message="tns:GetGiveawayDTByItemCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnabledGiveawayDT">
      <wsdl:input message="tns:GetUnabledGiveawayDTSoapIn" />
      <wsdl:output message="tns:GetUnabledGiveawayDTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAbledGiveawayDT">
      <wsdl:input message="tns:GetAbledGiveawayDTSoapIn" />
      <wsdl:output message="tns:GetAbledGiveawayDTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductDTByCode">
      <wsdl:input message="tns:GetProductDTByCodeSoapIn" />
      <wsdl:output message="tns:GetProductDTByCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuyCoins">
      <wsdl:input message="tns:BuyCoinsSoapIn" />
      <wsdl:output message="tns:BuyCoinsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddJoiner">
      <wsdl:input message="tns:AddJoinerSoapIn" />
      <wsdl:output message="tns:AddJoinerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGiveawayDTByGiveawayCode">
      <wsdl:input message="tns:GetGiveawayDTByGiveawayCodeSoapIn" />
      <wsdl:output message="tns:GetGiveawayDTByGiveawayCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJoinersDTByGiveawayCode">
      <wsdl:input message="tns:GetJoinersDTByGiveawayCodeSoapIn" />
      <wsdl:output message="tns:GetJoinersDTByGiveawayCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetWinner">
      <wsdl:input message="tns:SetWinnerSoapIn" />
      <wsdl:output message="tns:SetWinnerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsStore">
      <wsdl:input message="tns:IsStoreSoapIn" />
      <wsdl:output message="tns:IsStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsRealStore">
      <wsdl:input message="tns:IsRealStoreSoapIn" />
      <wsdl:output message="tns:IsRealStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Store">
      <wsdl:input message="tns:StoreSoapIn" />
      <wsdl:output message="tns:StoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUnstoredProductsDT">
      <wsdl:input message="tns:GetUnstoredProductsDTSoapIn" />
      <wsdl:output message="tns:GetUnstoredProductsDTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AcceptStore">
      <wsdl:input message="tns:AcceptStoreSoapIn" />
      <wsdl:output message="tns:AcceptStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsOnDelivery">
      <wsdl:input message="tns:IsOnDeliverySoapIn" />
      <wsdl:output message="tns:IsOnDeliverySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Deliver">
      <wsdl:input message="tns:DeliverSoapIn" />
      <wsdl:output message="tns:DeliverSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateVehicle">
      <wsdl:input message="tns:CreateVehicleSoapIn" />
      <wsdl:output message="tns:CreateVehicleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicle">
      <wsdl:input message="tns:GetVehicleSoapIn" />
      <wsdl:output message="tns:GetVehicleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicles">
      <wsdl:input message="tns:GetVehiclesSoapIn" />
      <wsdl:output message="tns:GetVehiclesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AcceptArrived">
      <wsdl:input message="tns:AcceptArrivedSoapIn" />
      <wsdl:output message="tns:AcceptArrivedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicle">
      <wsdl:input message="tns:UpdateVehicleSoapIn" />
      <wsdl:output message="tns:UpdateVehicleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicleCap">
      <wsdl:input message="tns:UpdateVehicleCapSoapIn" />
      <wsdl:output message="tns:UpdateVehicleCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicleCap2">
      <wsdl:input message="tns:UpdateVehicleCap2SoapIn" />
      <wsdl:output message="tns:UpdateVehicleCap2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVCodeByGiveaway">
      <wsdl:input message="tns:GetVCodeByGiveawaySoapIn" />
      <wsdl:output message="tns:GetVCodeByGiveawaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsArrived">
      <wsdl:input message="tns:IsArrivedSoapIn" />
      <wsdl:output message="tns:IsArrivedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsAtUser">
      <wsdl:input message="tns:IsAtUserSoapIn" />
      <wsdl:output message="tns:IsAtUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetItemCodeByGiveawayCode">
      <wsdl:input message="tns:GetItemCodeByGiveawayCodeSoapIn" />
      <wsdl:output message="tns:GetItemCodeByGiveawayCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPaymentInfo">
      <wsdl:input message="tns:AddPaymentInfoSoapIn" />
      <wsdl:output message="tns:AddPaymentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentInfo">
      <wsdl:input message="tns:UpdatePaymentInfoSoapIn" />
      <wsdl:output message="tns:UpdatePaymentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditCards">
      <wsdl:input message="tns:GetCreditCardsSoapIn" />
      <wsdl:output message="tns:GetCreditCardsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStorageExit">
      <wsdl:input message="tns:UpdateStorageExitSoapIn" />
      <wsdl:output message="tns:UpdateStorageExitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleDt">
      <wsdl:input message="tns:GetVehicleDtSoapIn" />
      <wsdl:output message="tns:GetVehicleDtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryByVehicleCode">
      <wsdl:input message="tns:GetDeliveryByVehicleCodeSoapIn" />
      <wsdl:output message="tns:GetDeliveryByVehicleCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStorageByDate">
      <wsdl:input message="tns:GetStorageByDateSoapIn" />
      <wsdl:output message="tns:GetStorageByDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleDTByItemCode">
      <wsdl:input message="tns:GetVehicleDTByItemCodeSoapIn" />
      <wsdl:output message="tns:GetVehicleDTByItemCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAdmin">
      <soap:operation soapAction="http://tempuri.org/LoginAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUsernameTaken">
      <soap:operation soapAction="http://tempuri.org/IsUsernameTaken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDT">
      <soap:operation soapAction="http://tempuri.org/GetDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDTByUsername">
      <soap:operation soapAction="http://tempuri.org/GetDTByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <soap:operation soapAction="http://tempuri.org/CreateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDT">
      <soap:operation soapAction="http://tempuri.org/GetProductDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProductDT">
      <soap:operation soapAction="http://tempuri.org/GetUserProductDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProductDTByName">
      <soap:operation soapAction="http://tempuri.org/GetUserProductDTByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDTByName">
      <soap:operation soapAction="http://tempuri.org/GetProductDTByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnPublishedProductDT">
      <soap:operation soapAction="http://tempuri.org/GetUnPublishedProductDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGiveaway">
      <soap:operation soapAction="http://tempuri.org/CreateGiveaway" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGiveaway">
      <soap:operation soapAction="http://tempuri.org/UpdateGiveaway" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseGiveaway">
      <soap:operation soapAction="http://tempuri.org/CloseGiveaway" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyTickets">
      <soap:operation soapAction="http://tempuri.org/BuyTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiveawayDT">
      <soap:operation soapAction="http://tempuri.org/GetGiveawayDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiveawayDTByItemCode">
      <soap:operation soapAction="http://tempuri.org/GetGiveawayDTByItemCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnabledGiveawayDT">
      <soap:operation soapAction="http://tempuri.org/GetUnabledGiveawayDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAbledGiveawayDT">
      <soap:operation soapAction="http://tempuri.org/GetAbledGiveawayDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDTByCode">
      <soap:operation soapAction="http://tempuri.org/GetProductDTByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyCoins">
      <soap:operation soapAction="http://tempuri.org/BuyCoins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJoiner">
      <soap:operation soapAction="http://tempuri.org/AddJoiner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiveawayDTByGiveawayCode">
      <soap:operation soapAction="http://tempuri.org/GetGiveawayDTByGiveawayCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJoinersDTByGiveawayCode">
      <soap:operation soapAction="http://tempuri.org/GetJoinersDTByGiveawayCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetWinner">
      <soap:operation soapAction="http://tempuri.org/SetWinner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsStore">
      <soap:operation soapAction="http://tempuri.org/IsStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRealStore">
      <soap:operation soapAction="http://tempuri.org/IsRealStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Store">
      <soap:operation soapAction="http://tempuri.org/Store" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnstoredProductsDT">
      <soap:operation soapAction="http://tempuri.org/GetUnstoredProductsDT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptStore">
      <soap:operation soapAction="http://tempuri.org/AcceptStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOnDelivery">
      <soap:operation soapAction="http://tempuri.org/IsOnDelivery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deliver">
      <soap:operation soapAction="http://tempuri.org/Deliver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVehicle">
      <soap:operation soapAction="http://tempuri.org/CreateVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicle">
      <soap:operation soapAction="http://tempuri.org/GetVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicles">
      <soap:operation soapAction="http://tempuri.org/GetVehicles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptArrived">
      <soap:operation soapAction="http://tempuri.org/AcceptArrived" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicle">
      <soap:operation soapAction="http://tempuri.org/UpdateVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicleCap">
      <soap:operation soapAction="http://tempuri.org/UpdateVehicleCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicleCap2">
      <soap:operation soapAction="http://tempuri.org/UpdateVehicleCap2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVCodeByGiveaway">
      <soap:operation soapAction="http://tempuri.org/GetVCodeByGiveaway" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsArrived">
      <soap:operation soapAction="http://tempuri.org/IsArrived" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAtUser">
      <soap:operation soapAction="http://tempuri.org/IsAtUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemCodeByGiveawayCode">
      <soap:operation soapAction="http://tempuri.org/GetItemCodeByGiveawayCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPaymentInfo">
      <soap:operation soapAction="http://tempuri.org/AddPaymentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentInfo">
      <soap:operation soapAction="http://tempuri.org/UpdatePaymentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditCards">
      <soap:operation soapAction="http://tempuri.org/GetCreditCards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStorageExit">
      <soap:operation soapAction="http://tempuri.org/UpdateStorageExit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleDt">
      <soap:operation soapAction="http://tempuri.org/GetVehicleDt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryByVehicleCode">
      <soap:operation soapAction="http://tempuri.org/GetDeliveryByVehicleCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStorageByDate">
      <soap:operation soapAction="http://tempuri.org/GetStorageByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleDTByItemCode">
      <soap:operation soapAction="http://tempuri.org/GetVehicleDTByItemCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAdmin">
      <soap12:operation soapAction="http://tempuri.org/LoginAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUsernameTaken">
      <soap12:operation soapAction="http://tempuri.org/IsUsernameTaken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDT">
      <soap12:operation soapAction="http://tempuri.org/GetDT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDTByUsername">
      <soap12:operation soapAction="http://tempuri.org/GetDTByUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <soap12:operation soapAction="http://tempuri.org/CreateProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDT">
      <soap12:operation soapAction="http://tempuri.org/GetProductDT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProductDT">
      <soap12:operation soapAction="http://tempuri.org/GetUserProductDT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProductDTByName">
      <soap12:operation soapAction="http://tempuri.org/GetUserProductDTByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDTByName">
      <soap12:operation soapAction="http://tempuri.org/GetProductDTByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnPublishedProductDT">
      <soap12:operation soapAction="http://tempuri.org/GetUnPublishedProductDT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap12:operation soapAction="http://tempuri.org/UpdateProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGiveaway">
      <soap12:operation soapAction="http://tempuri.org/CreateGiveaway" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGiveaway">
      <soap12:operation soapAction="http://tempuri.org/UpdateGiveaway" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseGiveaway">
      <soap12:operation soapAction="http://tempuri.org/CloseGiveaway" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyTickets">
      <soap12:operation soapAction="http://tempuri.org/BuyTickets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiveawayDT">
      <soap12:operation soapAction="http://tempuri.org/GetGiveawayDT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiveawayDTByItemCode">
      <soap12:operation soapAction="http://tempuri.org/GetGiveawayDTByItemCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnabledGiveawayDT">
      <soap12:operation soapAction="http://tempuri.org/GetUnabledGiveawayDT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAbledGiveawayDT">
      <soap12:operation soapAction="http://tempuri.org/GetAbledGiveawayDT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductDTByCode">
      <soap12:operation soapAction="http://tempuri.org/GetProductDTByCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyCoins">
      <soap12:operation soapAction="http://tempuri.org/BuyCoins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddJoiner">
      <soap12:operation soapAction="http://tempuri.org/AddJoiner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiveawayDTByGiveawayCode">
      <soap12:operation soapAction="http://tempuri.org/GetGiveawayDTByGiveawayCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJoinersDTByGiveawayCode">
      <soap12:operation soapAction="http://tempuri.org/GetJoinersDTByGiveawayCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetWinner">
      <soap12:operation soapAction="http://tempuri.org/SetWinner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsStore">
      <soap12:operation soapAction="http://tempuri.org/IsStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRealStore">
      <soap12:operation soapAction="http://tempuri.org/IsRealStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Store">
      <soap12:operation soapAction="http://tempuri.org/Store" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUnstoredProductsDT">
      <soap12:operation soapAction="http://tempuri.org/GetUnstoredProductsDT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptStore">
      <soap12:operation soapAction="http://tempuri.org/AcceptStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsOnDelivery">
      <soap12:operation soapAction="http://tempuri.org/IsOnDelivery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Deliver">
      <soap12:operation soapAction="http://tempuri.org/Deliver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVehicle">
      <soap12:operation soapAction="http://tempuri.org/CreateVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicle">
      <soap12:operation soapAction="http://tempuri.org/GetVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicles">
      <soap12:operation soapAction="http://tempuri.org/GetVehicles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptArrived">
      <soap12:operation soapAction="http://tempuri.org/AcceptArrived" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicle">
      <soap12:operation soapAction="http://tempuri.org/UpdateVehicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicleCap">
      <soap12:operation soapAction="http://tempuri.org/UpdateVehicleCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicleCap2">
      <soap12:operation soapAction="http://tempuri.org/UpdateVehicleCap2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVCodeByGiveaway">
      <soap12:operation soapAction="http://tempuri.org/GetVCodeByGiveaway" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsArrived">
      <soap12:operation soapAction="http://tempuri.org/IsArrived" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAtUser">
      <soap12:operation soapAction="http://tempuri.org/IsAtUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemCodeByGiveawayCode">
      <soap12:operation soapAction="http://tempuri.org/GetItemCodeByGiveawayCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPaymentInfo">
      <soap12:operation soapAction="http://tempuri.org/AddPaymentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentInfo">
      <soap12:operation soapAction="http://tempuri.org/UpdatePaymentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditCards">
      <soap12:operation soapAction="http://tempuri.org/GetCreditCards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStorageExit">
      <soap12:operation soapAction="http://tempuri.org/UpdateStorageExit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleDt">
      <soap12:operation soapAction="http://tempuri.org/GetVehicleDt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryByVehicleCode">
      <soap12:operation soapAction="http://tempuri.org/GetDeliveryByVehicleCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStorageByDate">
      <soap12:operation soapAction="http://tempuri.org/GetStorageByDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleDTByItemCode">
      <soap12:operation soapAction="http://tempuri.org/GetVehicleDTByItemCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:53527/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:53527/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>